<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="layouts/header.html :: head"></th:block>
    <title>Edit</title>
</head>
<body>
<div class="container">
    <div class="table-title">
        <div class="row justify-content-around">
            <div class="col">
                <h2>Update customer information</h2>
            </div>
            <th:block th:replace="layouts/back-to-list.html :: back-to-list"></th:block>
        </div>
    </div>

    <form method="post" th:object="${customerDTO}" novalidate="novalidate">
        <fieldset class="row g-3">
            <div class="col-md-6">
                <label for="fullName" class="form-label">Full name</label>
                <input class="form-control" type="text" name="fullName" id="fullName"
                       th:value="*{fullName}" th:field="*{fullName}">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="text" name="email" id="email"
                       th:value="*{email}" th:field="*{email}">
            </div>
            <div class="col-md-6">
                <label for="phone" class="form-label">Phone</label>
                <input class="form-control" type="tel" name="phone" id="phone"
                       th:value="*{phone}" th:field="*{phone}">
            </div>
            <div class="col-md-6">
                <label for="address" class="form-label">Address</label>
                <input class="form-control" type="text" name="address" id="address"
                       th:value="*{address}" th:field="*{address}">
            </div>
            <div>
                <button id="btnSaveChanges" class="btn btn-outline-secondary" type="submit">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Save changes
                </button>
            </div>
        </fieldset>
    </form>
    <th:block th:if="${success != null}">
        <th:block th:replace="layouts/notification.html :: warning(${#fields.errors('customerDTO.*')})"></th:block>
    </th:block>
</div>

<th:block th:replace="layouts/script.html :: script"></th:block>
</body>
</html>